@model RegistrationApp_Web_.Models.AdminHome

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/_AdminLayout.cshtml";
}

<h2>Home</h2>

<p>Welcome to the Admin Page</p>

<p>I Like Pie!</p>

<p>Do you like pie!?</p>

